@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@font-face {
   font-family: "Bangla";
   src:url(../fonts/bangla.ttf);
}
@font-face {
   font-family: "Bitter-Black";
   src:url(../fonts/BitterPro-Black.ttf);
}
@font-face {
   font-family: "Bitter-Bold";
   src:url(../fonts/BitterPro-Bold.ttf);
}
@font-face {
   font-family: "Bitter-Light";
   src:url(../fonts/BitterPro-Light.ttf);
}
@font-face {
   font-family: "Bitter-Medium";
   src:url(../fonts/BitterPro-Medium.ttf);
}
@font-face {
   font-family: "Bitter-Thin";
   src:url(../fonts/BitterPro-Thin.ttf);
}
.results-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 2rem;
}
input{
  all:unset;
}
@keyframes flip {
  0%{
    margin-left: -20vw;
    
    opacity: 0;
  }
 
 
  100%{
    opacity: 1;
    margin-left: 0;
  }

}
@keyframes backflip {
  0%{
    opacity: 1;
    margin-left: 0;
  }
 
  
  
  100%{
    opacity: 0;
      margin-left: -20vw;

  }

}
.result-there{
  opacity: 0;
  animation: flip ease-in-out 1.4s;
  animation-fill-mode: forwards;
}
.result-gone{
  opacity: 1;
  animation: backflip ease-in-out 1.4s;
  animation-fill-mode: forwards;
}

.dictionary-cont{
  
  contain:paint;
}

.notfound-cont h1{
    opacity:0;
     animation: flip ease-in-out 2s;
    animation-fill-mode: forwards;
 
}



@keyframes ldio-vwjzpsv2m8n {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(16.363636363636363deg) }
  100% { transform: rotate(32.72727272727273deg) }
}
.ldio-vwjzpsv2m8n > div {
  transform-origin: 100px 100px;
  animation: ldio-vwjzpsv2m8n 0.8695652173913042s infinite linear;
}
.ldio-vwjzpsv2m8n > div div {
    position: absolute;
    width: 28px;
    height: 160px;
    background: #001316;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldio-vwjzpsv2m8n > div div:nth-child(1) {
    width: 136px;
    height: 136px;
    border-radius: 50%;
}
.ldio-vwjzpsv2m8n > div div:nth-child(7.5) {
    width: 76px;
    height: 76px;
    background: transparent;
    border-radius: 50%;
}.ldio-vwjzpsv2m8n > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(32.72727272727273deg)
}.ldio-vwjzpsv2m8n > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(65.45454545454545deg)
}.ldio-vwjzpsv2m8n > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(98.18181818181819deg)
}.ldio-vwjzpsv2m8n > div div:nth-child(6) {
  transform: translate(-50%,-50%) rotate(130.9090909090909deg)
}
.loadingio-spinner-gear-egou1xzblmq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-vwjzpsv2m8n {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vwjzpsv2m8n div { box-sizing: content-box; }
/* generated by https://loading.io/ */
